<footer>
    <div class="row container-fluid">
        <div id="footer-left" class="">
            <i class="social-icon fas fa-map fa-2x"></i>
            <p>AHEMEDABAD, INDIA</p>
        </div>
        <div id="footer-right">
            <i class="social-icon fab fa-facebook-f fa-2x"></i>
            <i class="social-icon fab fa-twitter  fa-2x"></i>
            <i class="social-icon fab fa-instagram  fa-2x"></i>
            <i class="social-icon fas fa-envelope  fa-2x"></i>
            <p>© Copyright 2021 Comapany</p>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>