<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=D, initial-scale=1.0">
    <title>Cheet-Book</title>


    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- css -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- font Awsome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Noto+Sans&display=swap"
        rel="stylesheet">
    <!-- font-family: 'Maven Pro', sans-serif;
        font-family: 'Noto Sans', sans-serif; -->
</head>

<body>




    <%- include("footer") -%>